@model prjITicket.ViewModel.CBussMember
@using prjITicket.Models;
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
@*SweetAlert彈框*@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@{
    ViewBag.Title = "企業會員編輯";
}
<style>
    body {
        background-color: #F6F6F6;
    }

    .page-menu li {
        padding-bottom: 5px;
    }

        .page-menu li:hover {
            background-color: #F0F0F0;
            cursor: pointer;
        }

        .page-menu li a:link {
            text-decoration: none;
        }

        .page-menu li a {
            color: black;
            display: inline-block;
            width: 100%;
            height: 100%;
        }
</style>
<script>
    //取得partialView Activityfavourite activityid 刪除我的收藏
    $(function () {
        $("#form1div").on("click", ".delete", function () {
            let activityId = $(this).data("activityid");
            let memberId = $(this).data("memberid")
            console.log(memberId)
            console.log(activityId);
            //執行刪除ajax
            deletefavourite(memberId, activityId);
        });

        //取得memberId、shortmessageId 刪除短訊息
        $("#form1div").on("click", ".deleteMessage", function () {
            let memberId = $(this).data("memberid");
            let shortmessageId = $(this).data("messageid")
            console.log(memberId);
            console.log(shortmessageId);
            //
            deleteMessage(memberId, shortmessageId);
        });

        //找到orderid下的oreder_detail的QR3Code
        
        $("#form1div").on("click", ".showqrCode", function () {
            $("#dialogshow").empty();
            let orderid = $(this).data("orderid");           
            $.ajax({
                type: "post",
                url: "@Url.Action("getQRCodeByOrderId")",
                data: { orderId: orderid },
                success: function (result) {
                    let $dailogShow = $("#dialogshow");
                    $dailogShow.css({ "text-align": "center" });
                    let datas = JSON.parse(result);
                    for (let i = 0; i < datas.length; i++){
                        let qrCodeData = JSON.parse(datas[i]);
                        for (let j = 0; j < qrCodeData.QRCodes.length; j++) {
                            $dailogShow.append($(`<h3>${qrCodeData.ActivityName}</h3>`));
                            $dailogShow.append($(`<p>${qrCodeData.TicketCategoryName} ${qrCodeData.Time}</p>`));
                            $dailogShow.append($(`<img style="margin-bottom:20px" src="data:img/png;base64,${qrCodeData.QRCodes[j]}"/>`));
                        }
                    }
                }
            });
        });
    });
</script>
<br />
<div class="row" style="margin-bottom:10px;">
    <div class="col-lg-3">
        <div class="form-horizontal rounded border p-4" style="background-color:white">
            @if (Session[CDictionary.SK_Logined_Member] != null && (Session[CDictionary.SK_Logined_Member] as Member).Icon != null)
            {
                <img src="~/images/Login/Upload/@Model.Icon" id="loadimg" style="border:1px;width:100%;" />
            }
            else
            {
                <img src="~/images/Login/Layout/bar.png" id="loadimg" style="border:1px;width:100%;" />
            }
            <p></p>
            <label class="btn btn-info">
                <input id="upload_img" style="display:none;" type="file" accept="image/*"><i class="fa fa-photo"></i> 上傳照片
            </label>
            <div id="oldImg" style="display:none;"></div>
            <div id="newImg"></div>
            <button id="btnSubmit" class="btn btn-primary">保存</button>
        </div>
        <div class="form-horizontal rounded border p-3 my-4" style="background-color:white;">

            <div class="form-group" style="width:220px;height:120px;">
                <ul class="page-menu list-item-group" style="list-style-type:none; float:left; margin:0px; padding:0px;">
                    <li><a href="~/Login/BussEdit"><img src="~/images/Login/Layout/settings.png" style="margin-right:10px;" /><span>會員資料設定</span></a></li>
                    <li><img src="~/images/Login/Layout/money.png" style="margin-right:10px;" /><span>iTikect Points</span><span id="point" name="point" style="float:right; width:100px; text-align:right;"><strong style="color:#FFD306">@Model.Point</strong></span></li>
                    <li style="position:relative;"><a href="javascript:;" id="orderDetail"><img src="~/images/Login/Layout/check-list.png" style="margin-right:10px;" /><span>我的訂單<span class="badge badge-pill badge-danger" style="position:absolute;top:2px;">@Model.entity.Orders.Where(m => m.MemberID == Model.entity.MemberID).Count()</span></span></a></li>
                    <li style="position:relative;"><a href="javascript:;" id="showMessage"><img src="~/images/Login/Layout/chat.png" style="margin-right:10px;" /><span>我的訊息<span id="shortMessageNumber" class="badge badge-pill badge-danger" style="position:absolute;top:2px;">@Model.entity.ShortMessage.Where(m => m.MemberID == Model.entity.MemberID).Count()</span></span></a></li>
                    <li style="position:relative;"><a href="javascript:;" id="ActivityFavouriteDetail"><img src="~/images/Login/Layout/heart.png" style="margin-right:10px;" /><span style="">我的收藏<span id="activityFavourite" class="badge badge-pill badge-danger" style="position:absolute;top:2px">@Model.entity.ActivityFavourite.Where(m => m.MemberId == Model.entity.MemberID).Count()</span></span></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-9">
        @*@using (Html.BeginForm())
            {*@
        <div id="form1div" class="form-horizontal rounded border p-4 container" style="border-radius:4px 4px;background-color:white;">
            @if (ViewBag.Mode == "shortMessage")
            {
                int memberId = Model.MemberID;
                Html.RenderAction("getShortMassageByMemberId", new { MemberId = memberId });
            }
            else
            {
                <div class="h1 text-center"><strong>企業會員資料</strong></div>
                <div class="row mt-3">
                    <div class="col-12 col-md">
                        <div class="alert alert-success alert-rounded text-center" role="alert" id="butport1">基本資料</div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="alert alert-light alert-rounded text-center" role="alert" id="butport2">公司資料</div>
                    </div>
                    <div class="col-12 col-md">
                        <div class="alert alert-light alert-rounded text-center" role="alert" id="butport3">會員密碼修改</div>
                    </div>
                </div>
                <div class="row" style="background-color:white" id="port1">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-3">姓名:</label>
                            <div class="col-md-8">
                                @*<input type="text" class="form-control" name="Name" />*@
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", id = "txtName" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-md-4">身分證字號:</label>
                            <div class="col-md-8">
                                @*<input type="text" class="form-control" name="IDentityNumber" />*@
                                @Html.EditorFor(model => model.IDentityNumber, new { htmlAttributes = new { @class = "form-control", id = "txtIDentityNumber" } })
                                @Html.ValidationMessageFor(model => model.IDentityNumber, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        @*<div class="form-group">
                    <label class="control-label col-md-4">護照號碼:</label>
                    <div class="col-md-10">
                        @*<input type="text" class="form-control" name="Passport" />*@
                        @*@Html.EditorFor(model => model.Passport, new { htmlAttributes = new { @class = "form-control", id = "txtPassport" } })
                        @Html.ValidationMessageFor(model => model.Passport, "", new { @class = "text-danger" })
                    </div>*@
                        @*</div>*@

                        <div class="form-group">
                            <label class="control-label col-md-4">聯絡電話:</label>
                            <div class="col-md-8">
                                @*<input type="text" class="form-control" name="Phone" />*@
                                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", id = "txtPhone" } })
                                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="form-group">
                                <label class="control-label col-md-3">暱稱:</label>
                                <div class="col-md-8">
                                    @*<input type="text" class="form-control" name="NickName" />*@
                                    @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control", id = "txtNickName" } })
                                    @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-4">出生日期:</label>
                            <div class="col-md-8">
                                @*<input type="text" class="form-control" name="BirthDate" />*@
                                <input type="date" name="BirthDate" class="form-control" id="txtBirthDate" />
                                @if (Model.BirthDate != null)
                                {
                                    DateTime birthdate = Model.BirthDate.Value;
                                    <script>
                                    $("#txtBirthDate").val(`@birthdate.ToString("yyyy-MM-dd")`)
                                    </script>
                                }
                                @Html.ValidationMessageFor(model => model.BirthDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="control-label col-md-4">公司地址:</label>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <table>
                                        <tr>
                                            <td>
                                                <select id="txtCity" class="form-control" style="width:100px; float:left; margin:0px 0px 3px 0px;"></select>

                                                <select id="txtDistrict" class="form-control" style="width:110px;float:left; margin:0px 0px 3px 15px;"></select>

                                                <input id="txtPostalcode" class="form-control" type="text" style="width:100px;float:left; margin:0px 0px 3px 15px;" placeholder="郵遞區號" readonly>

                                                <input id="txtAddress" class="form-control" type="text" style="width:320px;float:left; margin:0px 0px 3px 15px;">
                                                @if (Model.Address != null)
                                                {
                                                    string address = Model.Address;
                                                    <script>
                                            $("#txtAddress").val(`@address.ToString()`)
                                                    </script>
                                                }

                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <input type="button" value="確認儲存" name="member" id="btnMember" style="margin-left:15px" class="btn btn-success" />
                            <input id="demobtnBuss" type="button" value="Demo鍵" class="btn btn-primary" />
                        </div>
                    </div>
                </div>
            }

            <div style="display:none;background-color:white;" id="port2">
                <div class="form-group">
                    <label class="control-label col-md-2"><span style="color:red">*</span>公司名稱:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.CompanyName, new { htmlAttributes = new { @class = "form-control", id = "txtCompanyName" } })
                        @Html.ValidationMessageFor(model => model.CompanyName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color:red">*</span>統一編號:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.TaxIDNumber, new { htmlAttributes = new { @class = "form-control", id = "txtTaxIDNumber" } })
                        @Html.ValidationMessageFor(model => model.TaxIDNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4">公司網址:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SellerHomePage, new { htmlAttributes = new { @class = "form-control", id = "txtSellerHomePage" } })
                        @Html.ValidationMessageFor(model => model.SellerHomePage, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-4"><span style="color:red">*</span>聯絡電話:</label>
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.SellerPhone, new { htmlAttributes = new { @class = "form-control", id = "txtSellerPhone" } })
                        @Html.ValidationMessageFor(model => model.SellerPhone, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">說明:</label>
                    <div class="col-md-8">

                        @Html.TextAreaFor(model => model.SellerDeccription, 5, 65, new { htmlAttributes = new { @class = "form-control", id = "txtSellerDeccription" } })
                        @Html.ValidationMessageFor(model => model.SellerDeccription, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <form id="uploadForm" method="post" enctype="multipart/form-data">
                        <label id="fPassShow" name="fPass" class="control-label col-md-6">
                            審核狀況:

                            @if (Model.fPass == false)
                            {

                                <span style="color:red">未通過</span>

                                <input id="IsFile" class="btn btn-secondary" style=" margin-top:3px" type="file" name="FileSave" value="檔案上傳" />
                            }
                            else if (Model.fPass == true)
                            {
                                <span style="color:green;">已通過</span>
                            }
                            else
                            {
                                <span>審核中</span>
                            }

                        </label>
                    </form>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" name="company" id="btnBuss" value="確認儲存" class="btn btn-success" />
                        <input id="demobtnBussDetail" type="button" value="Demo鍵" class="btn btn-primary" />
                    </div>
                </div>
            </div>

            <div style="display:none;background-color:white;" id="port3">
                <div class="form-group">
                    <label class="control-label col-md-2">輸入原密碼:</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="oldpassword" id="txtPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">輸入新密碼:</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="newpassword" id="txtNPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">再確認密碼:</label>
                    <div class="col-md-6">
                        <input type="password" class="form-control" name="newspassword" id="txtANPassword" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="button" value="確認儲存" class="btn btn-success" id="btnPassword" />
                        <input id="demobtnBussPassword" type="button" value="Demo鍵" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
        @*}*@
    </div>
</div>
<!-- 彈框 -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">QRCode</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="dialogshow" class="modal-body">
                <!--動態塞二維碼-->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>






<script>
    $("#port1").show();
    $("#butport2").click(function () {
        $("#port2").show();
        $("#port1").hide();
        $("#port3").hide();
        $("#butport2").addClass("alert-success").removeClass("alert-light");
        $("#butport1").addClass("alert-light").removeClass("alert-success");
        $("#butport3").addClass("alert-light").removeClass("alert-success");
    });
    $("#butport1").click(function () {
        $("#port1").show();
        $("#port2").hide();
        $("#port3").hide();
        $("#butport1").addClass("alert-success").removeClass("alert-light");
        $("#butport2").addClass("alert-light").removeClass("alert-success");
        $("#butport3").addClass("alert-light").removeClass("alert-success");
    });
    $("#butport3").click(function () {
        $("#port3").show();
        $("#port1").hide();
        $("#port2").hide();
        $("#butport3").addClass("alert-success").removeClass("alert-light");
        $("#butport1").addClass("alert-light").removeClass("alert-success");
        $("#butport2").addClass("alert-light").removeClass("alert-success");
    });

</script>

<script>
    //使用swal彈框語法
    document.getElementById("btnMember").addEventListener("click", function () {
        let member = {
            Name: $("#txtName").val()
            , IDentityNumber: $("#txtIDentityNumber").val()
            , Passport: $("#txtPassport").val()
            , NickName: $("#txtNickName").val()
            , BirthDate: $("#txtBirthDate").val()
            , Phone: $("#txtPhone").val()
            , Point: $("#txtPoint").val()
            , DistrictId: $("#txtDistrict").val()
            , Address: $("#txtAddress").val()
         }
         $.ajax({
        url:'@Url.Action("MemberSave")',
        type: 'POST',
        data: member,
        success: function (data) {
            console.log(data);
            $("#txtDisplayName").html(member.Name+" (商家)");
            swal("儲存成功!", "企業會員資料修改成功!", "success");
        }

         });
    });
    //使用swal彈框語法
    document.getElementById("btnBuss").addEventListener("click", function () {
        let member = {
             CompanyName: $("#txtCompanyName").val()
             , TaxIDNumber: $("#txtTaxIDNumber").val()
             , SellerHomePage: $("#txtSellerHomePage").val()
             , SellerPhone: $("#txtSellerPhone").val()
             , SellerDeccription: $("#SellerDeccription").val()

         }
         $.ajax({
        url:'@Url.Action("BussMemberSave")',
        type: 'POST',
        data: member,
        success: function (data) {

            console.log(data);
            if (data == "必填欄位未填寫，修改失敗") {
                swal("儲存失敗!", "必填欄位未填寫，企業會員資料修改失敗!", "error");
            }
            else {
                swal("儲存成功!", "企業會員資料修改成功!", "success");
            }
        }

        });

        var formdata = new FormData($('#uploadForm')[0]);
        var fileInput = $('#IsFile').get(0).files[0];
        if (fileInput) {
            $.ajax({
                url: '@Url.Action("FileSave")',
                cache: false,
                contentType: false,
                processData: false,
                data: formdata,     //data只能指定單一物件                 
                type: 'post',
                success: function (data) {
                    if (data == "上傳成功") {
                        $("#fPassShow").html(`審核狀況:<span>審核中</span>`);
                    }
                }
            });
        }


    });
    //使用swal彈框語法
    document.getElementById("btnPassword").addEventListener("click", function () {
        if ($("#txtNPassword").val() == $("#txtANPassword").val()) {
              let member = {
                  Password: $("#txtPassword").val(),
                  NPassword:$("#txtNPassword").val()
              }
              $.ajax({
                  url: '@Url.Action("MemberPassSave")',
                  type: 'POST',
                  data: member,
                  success: function (data) {

                      console.log(data);
                      if (data == "密碼修改成功，下次請用新密碼登入") {
                          $("#txtPassword").val("");
                          $("#txtNPassword").val("");
                          $("#txtANPassword").val("");
                          swal("儲存成功!", "下次請用新密碼登入!", "success");
                      }
                      else if (data == "請輸入密碼，修改失敗") {
                          swal("儲存失敗!", "請輸入密碼，修改失敗!", "error");
                      }
                      else {
                          swal("儲存失敗!", "原密碼輸入錯誤，修改失敗!", "error");
                      }
                  }
              });
          }
          else
          {
            swal("儲存失敗!", "新密碼兩者不一致，修改失敗!", "error");
          }

    });

      @*$("#btnPassword").click(function () {
          if ($("#txtNPassword").val() == $("#txtANPassword").val()) {
              let member = {
                  Password: $("#txtPassword").val(),
                  NPassword:$("#txtNPassword").val()
              }
              $.ajax({
                  url: '@Url.Action("MemberPassSave")',
                  type: 'POST',
                  data: member,
                  success: function (data) {

                      console.log(data);
                      alert(data);
                      $("#txtPassword").val("");
                      $("#txtNPassword").val("");
                      $("#txtANPassword").val("");
                  }
              });
          }
          else
          {
              alert("新密碼兩者需輸入相同");
          }

    });*@

    //當每次輸入時驗證身分證號碼
    let txtIdCode = document.getElementById("txtIDentityNumber");
    txtIdCode.oninput = function () {
        let msg = checkIdCode(this.value);
        this.nextElementSibling.innerHTML = msg;
        if (msg == "格式正確")
            this.nextElementSibling.style.color = "green";
        else
            this.nextElementSibling.style.color = "red";
    }
    //判斷身分證字號的函數
    function checkIdCode(code) {
        let txtId = document.getElementById("txtIDentityNumber");
        txtId.value = txtId.value.toUpperCase();
        if (code.length > 10)
            return "不准超過10位";
        if (code.charAt(0).toUpperCase() < "A" || code.charAt(0).toUpperCase() > "Z")
            return "第一個字必須是英文字母";
        if (code.length >= 2 && code.charAt(1) != "1" && code.charAt(1) != "2")
            return "第二個字必須是1或者2";
        if (code.length >= 3) {
            for (let i = 2; i < code.length; i++) {
                if (code.charAt(i) < "0" || code.charAt(i) > "9")
                    return "第3-10位必須是數字";
            }
        }
        if (code.length < 10)
            return "身分證字號要有10位";
        //檢驗第10位檢驗碼
        //紀錄字母轉換表
        let cityCodes = {
            "A": "10", "B": "11", "C": "12", "D": "13", "E": "14", "F": "15",
            "G": "16", "H": "17", "I": "34", "J": "18", "K": "19", "L": "20",
            "M": "21", "N": "22", "O": "35", "P": "23", "Q": "24", "R": "25",
            "S": "26", "T": "27", "U": "28", "V": "29", "X": "30", "Y": "31"
        }
        //取得英文字母對應的代碼
        let cityCode = cityCodes[code.charAt(0).toUpperCase()];
        //替換英文字母為代碼
        code = cityCode + code.slice(1);
        //算出檢查碼
        let step1 = 0;
        let x = 9;
        for (let i = 0; i < code.length - 1; i++) {
            if (i == 0) {
                step1 += parseInt(code.charAt(i))
            }
            else {
                step1 += parseInt(code.charAt(i)) * x--;
            }
        }
        let step2 = step1 % 10;
        let checkCode = 10 - step2;
        //因為字母替換成了2位數字,所以檢查碼變成了第11位,也就是索引10
        if (code.charAt(10) != checkCode)
            return "檢查碼不正確";
        return "格式正確";
    }

    //限制出生日期不得大於現在日期
    $(function () {
        //得到當前日期
        let date_now = new Date();
        //得到當前年份
        let year = date_now.getFullYear();
        //得到當前月份
        let month = date_now.getMonth() < 10 ? ("0" + date_now.getMonth() + 1) : (date_now.getMonth() + 1);
        //得到當前日期
        let date = date_now.getDate() < 10 ? "0" + date_now.getDate() : date_now.getDate();
        $("#txtBirthDate").attr("max", year + "-" + month + "-" + date);
    });

</script>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.5/croppie.css" rel="stylesheet" />
<link rel="stylesheet" href="//code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script>
    $(function () {
        loadCities();
        $("#txtCity").change(function () {
            let cityId = $("#txtCity").val();
            loadDataToDistrictByCityId(cityId);
        });
        $("#txtDistrict").change(function () {
            let districtId = $("#txtDistrict").val();
            loadDataToPostalCode(districtId);
        });
        //藉由MemberId取得訂單明細
        $("#orderDetail").click(function () {
            loadOrderDataByMemberId()
        });
        //藉由MemberId取得我的收藏
        $("#ActivityFavouriteDetail").click(function () {
            loadActivityFavouriteByMemberId()
        });
        //藉由MemberId取得系統訊息
        $("#showMessage").click(function () {
            loadShortMessageByMemberId()
        })

        //demo企業會員資料變更
        $("#demobtnBuss").click(function () {
            loaddemoBussMember();
        });

        //demo企業會員詳細資料變更
        $("#demobtnBussDetail").click(function () {
            loaddemoBussDetailMember();
        });

        //demo企業會員密碼變更
        $("#demobtnBussPassword").click(function () {
            loaddemoBussPassword();
        });
    });
    //從資料庫抓城市
    function loadCities() {
        $.ajax({
            type: 'get',
            url: `@Url.Action("getAllCities")`,
            success: function (result) {
                let cities = JSON.parse(result);
                $("#txtCity").html("<option>選城市</option>")
                for (let city of cities) {
                    let opt = $("<option></option>")
                    //登入抓CityID
                    @if(Model.DistrictId != null)
                    {
                        @:if (city.CityID == @Model.entity.Districts.CityId)
                        @:{
                            @:opt.prop("selected", true);
                            @:loadDataToDistrictByCityId(city.CityID);
                        @:}
                    }

                    opt.html(city.CityName)
                    opt.val(city.CityID)
                    $("#txtCity").append(opt);
                }
            }
        })
    }

    //根據城市讀取區資訊的函數
    function loadDataToDistrictByCityId(cityId) {
        $.ajax({
            type: 'get',
            url: `@Url.Action("getDistrictsByCityId")`,
            data: { cityId: cityId },
            success: function (result) {
                $("#txtDistrict").html("<option style='display:none' value='-1'>請選擇</option>");
                let districts = JSON.parse(result);
                for (let district of districts) {
                    let opt = $("<option></option>");
                    //登入抓districtId
                    @if(Model.DistrictId != null)
                    {
                        @:if (district.DistrictId == @Model.entity.Districts.DistrictId)
                        @:{
                            @:opt.prop("selected", true);
                            @:loadDataToPostalCode(district.DistrictId)
                        @:}
                    }

                    opt.html(district.DistrictName);
                    opt.val(district.DistrictId);
                    $("#txtDistrict").append(opt);
                }
            }
        });
    }
    //根據區讀取郵遞區號
    function loadDataToPostalCode(districtId) {
        $.ajax({
            type: 'get',
            url: `@Url.Action("getPostCodeByDistrictId")`,
            data: { districtId: districtId },
            success: function (result) {
                $("#txtPostalcode").val(result);
            }
        });
    }

    //藉由Email取得訂單明細
    function loadOrderDataByMemberId() {
        $.ajax({
            type: 'get',
            url: `@Url.Action("getOrderbyMemberId")`,
            data: {memberId: "@Model.MemberID"},
            success: function (result) {

                $("#form1div").html(result);
            }
        })
    }
    //藉由MemberId取得收藏明細
    function loadActivityFavouriteByMemberId() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("getActivityFavouriteByMemberId")',
            data: { MemberId: "@Model.MemberID" },
            success: function (result) {
                
                $("#form1div").html(result);
            }
        });
    }

    //藉由MemberId更改收藏明細的圈圈數字
    function changeActivityFavouriteByMemberId() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("changeActivityFavouriteByMemberId")',
            data: { MemberId: "@Model.MemberID" },
            success: function (result) {
                
                $("#activityFavourite").html(result);
            }
        });
    }

     //藉由MemberId取得後台系統訊息
    function loadShortMessageByMemberId() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("getShortMassageByMemberId")',
            data: { MemberId: "@Model.MemberID" },
            success: function (result) {
                //console.log(result)
                $("#form1div").html(result);
            }
        });
    }

    //藉由MemberId更改我的訊息圈圈數字
    function changeShortMessageNumber() {
        $.ajax({
            type: 'get',
            url: "@Url.Action("changeShortMessageNumber")",
            data: { MemberId: "@Model.MemberID" },
            success: function (result) {
                
                $("#shortMessageNumber").html(result);
                if (result > 3) {
                    //$(".shortmessage").empty();
                    $(".fa-bell").append($(`3<small style="position:absolute;top:0;">+</small>`));
                }
                else {
                    //$(".shortmessage").empty();
                    $(".shortmessage").html(result);
                }
            }
        });
    }

    //demo企業會員資料變更
    function loaddemoBussMember() {
        $("#txtName").val("王池田");
        $("#txtNickName").val("池田");
        $("#txtIDentityNumber").val("A129688927");
        $("#txtPhone").val("0911155337");
        $("#txtSex").val("0", true);
        $("#txtBirthDate").val("2000-12-25");
        $("#txtCity").val("5", true);
        $("#txtDistrict").html("<option value='13'>大安區</option>");
        $("#txtPostalcode").val("106")
        $("#txtAddress").val("復興南路一段390號")

    }

    //demo企業會員詳細資料變更
    function loaddemoBussDetailMember() {
        $("#txtCompanyName").val("良心企業");
        $("#txtTaxIDNumber").val("05076416");
        $("#txtSellerHomePage").val("https://www.iiiedu.org.tw/");
        $("#txtSellerPhone").val("(02)6631-6666");
        $("#SellerDeccription").val("『禮、義、廉、恥，國之四維；四維不張，國乃滅亡。』善乎管生之能言也！禮、義，治人之大法；廉、恥，立人之大節。蓋不廉則無所不取，不恥則無所不為。人而如此，則禍敗亂亡，亦無所不至。況為大臣而無所不取，無所不為，則天下其有不亂，國家其有不亡者乎？");
    }

    //demo企業會員密碼變更
    function loaddemoBussPassword() {
        $("#txtPassword").val("Aa1!admin");
        $("#txtNPassword").val("Aa1!admin");
        $("#txtANPassword").val("Aa1!admin");
    }

    (function ($) {
        var width_crop = 400, // 圖片裁切寬度 px 值
            height_crop = 400, // 圖片裁切高度 px 值
            type_crop = "circle", // 裁切形狀: square 為方形, circle 為圓形
            width_preview = 500, // 預覽區塊寬度 px 值
            height_preview = 500, // 預覽區塊高度 px 值
            compress_ratio = 0.85, // 圖片壓縮比例 0~1
            type_img = "jpg", // 圖檔格式 jpeg png webp
            oldImg = new Image(),
            myCrop, file, oldImgDataUrl;

        // 裁切初始參數設定
        myCrop = $("#oldImg").croppie({
            viewport: { // 裁切區塊
                width: width_crop,
                height: height_crop,
                type: type_crop
            },
            boundary: { // 預覽區塊
                width: width_preview,
                height: height_preview
            }
        });

        function readFile(input) {
            if (input.files && input.files[0]) {
                file = input.files[0];
            } else {
                return;
            }

            if (file.type.indexOf("image") == 0) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    oldImgDataUrl = e.target.result;
                    oldImg.src = oldImgDataUrl; // 載入 oldImg 取得圖片資訊
                    myCrop.croppie("bind", {
                        url: oldImgDataUrl
                    });
                };
                reader.readAsDataURL(file);
            } else {
                alert("您上傳的不是圖檔！");
            }
        }

        function displayCropImg(src) {
            //var html = "<img src='" + src + "' />";
            //$("#newImg").html(html);
            $("#loadimg").attr("src", src);
            $("#layoutimg").css({
                content: `url(${src})`
            });
        }

        $("#upload_img").on("change", function () {
            if (this.files[0] == null) return;
            readFile(this);  //把圖片塞入編輯框
            initWindowPosition(); //彈出對話方塊供編輯
        });
        function initWindowPosition() {
            $("#oldImg").dialog({
                modal: true,
                //設定對話方塊有一個按鈕叫做裁剪圖片
                buttons: {
                    "裁剪圖片": function () {
                        myCrop.croppie("result", {
                            type: "base64",
                            quality: compress_ratio
                        }).then(function (src) {
                            //src的結果會是base64字串,"data:image/png;base64,......"
                            //可直接當url給img標籤,也可供上傳伺服器供儲存成檔案
                            displayCropImg(src); //show出新裁剪好的圖片
                        });
                        $(this).dialog("close");
                    }
                },
                width: 1000,
                close: function () {
                    let uploadimg = document.getElementById("upload_img");
                    //對話方塊關閉時,把input[type="file"]標籤的內容清空
                    //否則下次選擇相同圖片時不會觸法onchange事件然後出bug壞掉
                    uploadimg.value = "";
                }
            });
        }
        //按保存就上傳base64字串給服務器
        $("#btnSubmit").click(function () {
            let base64code = $("#loadimg").attr("src");
            if (!base64code) return;
            $.ajax({
                type: "post",
                url: "@Url.Action("CreateImage")",
                data: { input: base64code },
                success: function () {
                    swal("儲存成功!", "", "success").then((value) => {
                        location.reload();
                    });
                }
            })
        });
    })(jQuery);
</script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/3.0/jquery.validate.unobtrusive.js"
        type="text/javascript"></script>